.form {
  display: flex;
  flex-direction: column;

  &__block {
    display: flex;
    align-items: center;
    column-gap: 32px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__input-wrapper {
    position: relative;
    width: 100%;

    &--margin {
      margin-bottom: 24px;
    }
  }

  &__placeholder {
    font-size: 18px;
    color: var(--dark-gray);
    position: absolute;
    top: 60%;
    left: 16px;
    transform: translateY(-60%);
    transition:
      top 0.3s ease-in-out,
      font-size 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    &--small-top {
      top: 20px;
    }
  }

  &__input {
    height: 48px;
    border-radius: 4px;
    font-size: 16px;
  }

  &__textarea {
    resize: none;
    border-radius: 4px;
  }

  &__input,
  &__textarea {
    padding: 21px 11px 8px;
    width: 100%;
    outline: transparent;
    border: 2px solid transparent;
    transition: border-color ease 0.3s;
    font-size: 16px;
    line-height: 1.2;
    border: 1px solid transparent;
    outline: transparent;

    &::placeholder {
      font-size: 16px;
      opacity: 0.6;
    }
  }

  &__input:focus + .form__placeholder,
  &__input:not(:placeholder-shown) + .form__placeholder {
    font-size: 12px;
    top: 3px;
    transform: translateY(0);
  }

  &__btn {
    width: fit-content;
    justify-content: center;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 14px;
    opacity: 0.6;

    &--width {
      max-width: 286px;
      width: 100%;
    }
  }

  &__approval {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    .custom-checkbox {
      margin-right: 8px;
    }
  }

  .just-validate-error-label {
    font-size: 12px;
    font-family: 'CygreRegular';
    margin-top: 10px;
    position: absolute;
    bottom: -16px;
    left: 11px;
  }
}
