.contacts {
  &__head {
    background-color: var(--bg-gray);
    padding: 40px 0;
    margin-bottom: 40px;

    @media screen and (width <= 768px) {
      padding-top: 24px;
      margin-bottom: 32px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 160px;

    @media screen and (width <= 1100px) {
      margin-bottom: 100px;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 80px;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (width <= 1100px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info-name {
    @media screen and (width <= 1100px) {
      margin-bottom: 32px;
    }
  }

  &__info-link {
    @media screen and (width <= 1100px) {
      margin-top: 5px;
    }
  }

  &__info-name,
  &__info-link {
    font-family: 'RacamaURegular';
    font-size: 24px;
    color: var(--accent);

    @media screen and (width <= 768px) {
      font-size: 18px;
    }
  }

  &__info-list {
    display: flex;
    column-gap: 110px;

    @media screen and (width <= 1024px) {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__info-item {
    position: relative;

    @media screen and (width <= 1100px) {
      display: flex;
      align-items: center;
    }

    &:hover {
      .contacts__info-link {
        color: var(--accent-dark);
      }

      .contacts__info-icon {
        path {
          stroke: var(--accent-dark);
        }
      }
    }
  }

  &__info-link {
    transition: color 0.3s ease-in-out;
  }

  .contacts__info-icon {
    position: absolute;
    top: -70px;
    left: 0;

    @media screen and (width <= 1100px) {
      position: static;
      margin-right: 8px;
    }

    @media screen and (width <= 768px) {
      width: 24px;
      height: 24px;
    }

    path {
      transition: all 0.3s ease-in-out;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    position: relative;
    padding-bottom: 80px;
    margin-bottom: 80px;

    @media screen and (width <= 768px) {
      flex-direction: column;
      row-gap: 8px;
      padding-bottom: 48px;
      margin-bottom: 48px;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--medium-gray);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__about-company {
    padding: 32px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-color: #000;
    flex: 1 1 50%;

    @media screen and (width <= 1100px) {
      padding: 24px;
    }

    @media screen and (width <= 990px) {
      min-height: 230px;
    }
  }

  &__subtitle {
    font-size: 36px;
    font-family: 'RacamaURegular';
    font-weight: 400;

    @media screen and (width <= 1100px) {
      font-size: 24px;
    }
  }

  &__about-inner {
    margin-top: auto;

    svg {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }

  &__adress {
    font-family: 'RacamaURegular';
    font-style: normal;
  }

  &__worktime {
    font-family: 'RacamaURegular';
  }

  &__adress,
  &__worktime {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: 'RacamaURegular';
    font-weight: 400;

    @media screen and (width <= 1200px) {
      font-size: 18px;
    }

    svg {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      margin-bottom: 3px;
    }
  }

  &__map {
    border-radius: 12px;
    flex: 1 1 50%;

    @media screen and (width <= 990px) {
      min-height: 230px;
    }

    @media screen and (width <= 768px) {
      width: 100%;
    }
  }

  &__socials-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
    margin-bottom: 80px;
    position: relative;

    @media screen and (width <= 1024px) {
      flex-direction: column;
      row-gap: 32px;
      align-items: flex-start;
    }

    @media screen and (width <= 768px) {
      padding-bottom: 48px;
      margin-bottom: 48px;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--medium-gray);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__socials-title {
    font-family: 'RacamaURegular';
    font-size: 36px;
    font-weight: 400;

    @media screen and (width <= 768px) {
      font-size: 24px;
    }
  }

  &__socials {
    display: flex;
    column-gap: 100px;
    max-width: 688px;
    width: 100%;

    @media screen and (width <= 1024px) {
      width: 100%;
      justify-content: space-between;
      gap: 16px;
      flex-wrap: wrap;
    }

    .socials__link {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    svg {
      margin-right: 8px;
      width: 40px;
      height: 40px;
    }
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    @media screen and (width <= 990px) {
      flex-direction: column;
    }

    @media screen and (width <= 768px) {
      margin-bottom: 48px;
    }

    .tabs__nav {
      @media screen and (width <= 990px) {
        display: inline-flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        max-width: 100%;

        &::-webkit-scrollbar {
          display: none; /*Safari and Chrome*/
        }
      }
    }

    .tabs__nav-item {
      @media screen and (width <= 990px) {
        flex: 0 0 auto;
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 32px;
        }
      }
    }

    .tabs__nav-btn {
      text-align: left;

      @media screen and (width <= 990px) {
        font-size: 30px;
      }

      @media screen and (width <= 768px) {
        font-size: 24px;
      }
    }

    .tabs__head {
      max-width: 688px;
      width: 100%;
      margin-right: 30px;

      @media screen and (width <= 990px) {
        margin-right: 0;
        margin-bottom: 32px;
        max-width: 100%;
      }
    }

    .tabs__nav-item {
      margin-right: 0;
    }

    .tabs__content {
      max-width: 688px;
      width: 100%;
      flex-shrink: 0;
    }

    .table__row {
      @media screen and (width <= 768px) {
        font-size: 16px;
      }

      @media screen and (width <= 576px) {
        flex-direction: column;
        row-gap: 4px;

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }

  &__departament-item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 40px;

      @media screen and (width <= 768px) {
        margin-bottom: 34px;
      }
    }
  }

  &__departament-post {
    font-family: 'RacamaURegular';
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 400;

    @media screen and (width <= 768px) {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }

  &__departament-name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;

    @media screen and (width <= 768px) {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  &__departament-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: color 0.3s;

    @media screen and (width <= 768px) {
      font-size: 16px;
    }

    &:hover {
      color: var(--accent);

      svg {
        path {
          stroke: var(--accent);
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    svg {
      width: 24px;
      height: 24px;
      margin-right: 4px;

      path {
        transition: all 0.3s;
      }
    }
  }
}
