<section class="about">
  <div class="contacts__head">
    <div class="container">
      <div class="contacts__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>О компании</span>
          </li>
        </ul>
      </div>

      <h1 class="contacts__title section-title">О компании</h1>
    </div>
  </div>

  <div class="container">
    <h2 class="about__title title-block">Вам знакомо?</h2>

    <p class="about__text">Очень часто инженеры, механики и специалисты отдела закупок предприятий сталкиваются с одними
      и теми же проблемами:</p>

    <ul class="about__list">
      <li class="about__item">
        <h4 class="about__item-title">Разные производители</h4>
        <p class="about__item-text">На предприятии используется оборудование различных производителей и в случае
          необходимости закупки приходится обращаться ко всем этим производителям по отдельности (вести переговоры и
          согласовывать условия, заключать договор), что увеличивает объём работы и временные затраты.</p>
      </li>
      <li class="about__item">
        <h4 class="about__item-title">Навязывание аналогов</h4>
        <p class="about__item-text">Производители не могут продавать оборудование других брендов и предлагают свои
          аналоги, которые либо не на 100% взаимозаменяемые, либо требуют дополнительных согласований с тех. службой
          предприятия, конструкторами, механиками и т. д.</p>
      </li>
      <li class="about__item">
        <h4 class="about__item-title">Отсутствие скидок </h4>
        <p class="about__item-text">Производители не готовы делать подход к каждому клиенту уникальным, предоставлять
          скидки и отсрочку платежа всем клиентам.</p>
      </li>
    </ul>


    <div class="about__solutions-wrapper">
      <h2 class="about__title-solutions title-block">Предлагаем решение — партнёрство с нами!</h2>

      <ul class="about__solutions-list">
        <li class="about__solutions-item">
          <img class="about__solutions-img" src="img/about/1.png" alt="Pic">
          <h4 class="about__solutions-title">Все в одном месте</h4>
          <p class="about__solutions-text">Вы приобретаете всю необходимую продукцию в одном месте</p>
        </li>
        <li class="about__solutions-item">
          <img class="about__solutions-img" src="img/about/2.png" alt="Pic">
          <h4 class="about__solutions-title">Большой ассортимент</h4>
          <p class="about__solutions-text">Огромный выбор позволяет решить любую задачу здесь и сейчас</p>
        </li>
        <li class="about__solutions-item">
          <img class="about__solutions-img" src="img/about/3.png" alt="Pic">
          <h4 class="about__solutions-title">Компетентная техподдержка</h4>
          <p class="about__solutions-text">Профессиональные инженеры оказывают техподдержку по всем брендам и продуктам
          </p>
        </li>
        <li class="about__solutions-item">
          <img class="about__solutions-img" src="img/about/4.png" alt="Pic">
          <h4 class="about__solutions-title">Экономия времени</h4>
          <p class="about__solutions-text">Коммуникации с одной компанией минимизируют трудозатраты и время поставки</p>
        </li>
        <li class="about__solutions-item">
          <img class="about__solutions-img" src="img/about/5.png" alt="Pic">
          <h4 class="about__solutions-title">Гибкие условия</h4>
          <p class="about__solutions-text">Партнёрство с нами – это гибкие условия, скидки и отсрочки платежа</p>
        </li>
        <li class="about__solutions-item">
          <img class="about__solutions-img" src="img/about/6.png" alt="Pic">
          <h4 class="about__solutions-title">Ответственный подход</h4>
          <p class="about__solutions-text">Мы одинаково ответственно относимся к задачам как от крупных заводов, так и
            от
            частных лиц</p>
        </li>
      </ul>
    </div>

    <div class="about__requisites">
      <div class="about__requisites-left">
        <h2 class="about__requisites-title title-block">Наши реквизиты</h2>

        <p class="about__requisites-text">Обращайтесь к нам, мы решим ваши вопросы быстро и качественно!</p>

        <a class="about__requisites-btn about__requisites-btn--desktop" download href="#">Скачать реквизиты</a>
      </div>

      <table class="about__requisites-table table">
        <tbody class="table__body">
          <tr class="table__row">
            <td class="table__item-name">Полное наименование</td>
            <td class="table__item">Общество с&nbsp;ограниченной ответственностью «Тайм Электро»</td>
          </tr>

          <tr class="table__row">
            <td class="table__item-name">Юридический адрес</td>
            <td class="table__item">443117, Россия, Самарская область,
              г.&nbsp;Самара, ул.&nbsp;Партизанская, д.&nbsp;246, офис 406</td>
          </tr>

          <tr class="table__row">
            <td class="table__item-name">ОГРН</td>
            <td class="table__item">1176313073133</td>
          </tr>

          <tr class="table__row">
            <td class="table__item-name">ИНН</td>
            <td class="table__item">6318028390</td>
          </tr>

          <tr class="table__row">
            <td class="table__item-name">КПП</td>
            <td class="table__item">631801001</td>
          </tr>

          <tr class="table__row">
            <td class="table__item-name">РС</td>
            <td class="table__item">40702810910000183453</td>
          </tr>

          <tr class="table__row">
            <td class="table__item-name">Банк получатель</td>
            <td class="table__item">АО&nbsp;«Тинькофф Банк»</td>
          </tr>

          <tr class="table__row">
            <td class="table__item-name">БИК</td>
            <td class="table__item">044525974</td>
          </tr>

          <tr class="table__row">
            <td class="table__item-name">К/С</td>
            <td class="table__item">3010181014525000097</td>
          </tr>
        </tbody>
      </table>


      <a class="about__requisites-btn about__requisites-btn--mobile" download href="#">Скачать реквизиты</a>
    </div>

    <div class="contacts__questions questions bg-gradient">
      <div class="questions__wrapper">
        <div class="questions__left">
          <h2 class="questions__title title-block">Есть вопросы?</h2>
          <p class="questions__text">
            Обратитесь в службу поддержки, наши специалисты
            оперативно проконсультируют вас по всем вопросам. <br>
            Мы всегда готовы помочь.
          </p>
        </div>

        <form class="questions__form form" id="contacts-form" action="#">
          <div class="form__input-wrapper form__input-wrapper--margin">
            <input class="form__input input-name" type="text" id="name" placeholder="" data-validate-field="name">
            <label class="form__placeholder" for="name">Как к вам обращаться</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--margin">
            <input class="form__input input-tel" type="tel" id="phone" placeholder="" data-validate-field="phone">
            <label class="form__placeholder" for="phone">Телефон</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--margin">
            <input class="form__input input-mail" type="text" id="email" placeholder="" data-validate-field="mail">
            <label class="form__placeholder" for="email">Email</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--margin">
            <input class="form__input input-company" type="text" id="company-name" placeholder=""
              data-validate-field="company-name">
            <label class="form__placeholder" for="company-name">Название вашей компании</label>
          </div>

          <div class="form__approval">
            <label class="form__label form__label--checkbox custom-checkbox">
              <input class="custom-checkbox__input input-checkbox visually-hidden" type="checkbox"
                data-validate-field="checkbox">

              <span class="custom-checkbox__span"></span>
            </label>
            <p class="form__text">Вы соглашаетесь с политикой обработки персональных данных </p>
          </div>

          <button class="form__btn button-primary">
            Оставить заявку
          </button>
        </form>
      </div>
    </div>

    <div class="clients">
      <div class="clients__head">
        <h2 class="clients__title title-block">Наши клиенты</h2>

        <div class="clients__slider-controls slider-controls">
          <button class="clients__slider-controls-prev slider-controls__prev" aria-label="Назад">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                stroke-linejoin="bevel" />
              <rect x="6" y="19" width="21" height="2" fill="#FF4D06" />
            </svg>
          </button>

          <button class="clients__slider-controls-next slider-controls__next" aria-label="Вперед">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                stroke-linejoin="bevel" />
              <rect x="6" y="19" width="21" height="2" fill="#FF4D06" />
            </svg>
          </button>
        </div>
      </div>

      <div class="clients__slider swiper">
        <ul class="clients__list swiper-wrapper">
          <li class="clients__item swiper-slide">
            <img src="img/clients/absolut.png" alt="Лого">
          </li>
          <li class="clients__item swiper-slide">
            <img src="img/clients/electroshit.png" alt="Лого">
          </li>
          <li class="clients__item swiper-slide">
            <img src="img/clients/lukoil.png" alt="Лого">
          </li>
          <li class="clients__item swiper-slide">
            <img src="img/clients/tarkett.png" alt="Лого">
          </li>
          <li class="clients__item swiper-slide">
            <img src="img/clients/tarkett.png" alt="Лого">
          </li>
          <li class="clients__item swiper-slide">
            <img src="img/clients/tarkett.png" alt="Лого">
          </li>
        </ul>

        <div class="clients__pagination slider-pagination"></div>
      </div>
    </div>
  </div>
</section>