<div class="advantages-block">
  <div class="container">
    <ul class="advantages-block__list">
      <li class="advantages-block__item">
        <img class="advantages-block__img" src="img/advantages-block/1.png" alt="Картинка">
        <div class="advantages-block__inner">
          <h4 class="advantages-block__title">Большой выбор</h4>
          <p class="advantages-block__text">Самый большой ассортимент</p>
        </div>
      </li>
      <li class="advantages-block__item">
        <img class="advantages-block__img" src="img/advantages-block/2.png" alt="Картинка">
        <div class="advantages-block__inner">
          <h4 class="advantages-block__title">Быстрая доставка</h4>
          <p class="advantages-block__text">Доставка по всей России</p>
        </div>
      </li>
      <li class="advantages-block__item">
        <img class="advantages-block__img" src="img/advantages-block/3.png" alt="Картинка">
        <div class="advantages-block__inner">
          <h4 class="advantages-block__title">Гарантия качества</h4>
          <p class="advantages-block__text">Товары известных брендов</p>
        </div>
      </li>
      <li class="advantages-block__item">
        <img class="advantages-block__img" src="img/advantages-block/4.png" alt="Картинка">
        <div class="advantages-block__inner">
          <h4 class="advantages-block__title">Техподдержка</h4>
          <p class="advantages-block__text">Ответим на все ваши вопросы</p>
        </div>
      </li>
    </ul>
  </div>
</div>