<section class="catalog">
  <div class="container">
    <h2 class="catalog__title title-block">Каталог продукции</h2>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="catalog-card">
          <h3 class="catalog-card__title">Пневматическое оборудование</h3>

          <ul class="catalog-card__links">
            <li class="catalog-card__links-item">
              <a class="catalog-card__link" href="#"><svg width="20" height="20" viewBox="0 0 40 40" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                    stroke-linejoin="bevel"></path>
                  <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
                </svg>
                <span class="catalog-card__link-text">Приводы с направляющими</span></a>
            </li>
            <li class="catalog-card__links-item">
              <a class="catalog-card__link" href="#"> <svg width="20" height="20" viewBox="0 0 40 40" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                    stroke-linejoin="bevel"></path>
                  <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
                </svg>
                <span class="catalog-card__link-text">Штоковые цилиндры</span>
            </li>
            <li class="catalog-card__links-item">
              <a class="catalog-card__link" href="#">
                <svg width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                    stroke-linejoin="bevel"></path>
                  <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
                </svg>
                <span class="catalog-card__link-text">Санитарные клапаны</span></a>
              </a>
            </li>
          </ul>

          <div class="catalog-card__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
              <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
            </svg>
          </div>

          <img class="catalog-card__img" src="img/catalog/1.png" alt="Картинка">
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog-card">
          <h3 class="catalog-card__title">Вентиляция и кондиционирование</h3>

          <ul class="catalog-card__links">
            <li class="catalog-card__links-item">
              <a class="catalog-card__link" href="#"><svg width="20" height="20" viewBox="0 0 40 40" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                    stroke-linejoin="bevel"></path>
                  <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
                </svg>
                <span class="catalog-card__link-text">Вентиляторы</span></a>
            </li>
          </ul>

          <div class="catalog-card__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
              <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
            </svg>
          </div>

          <img class="catalog-card__img" src="img/catalog/2.png" alt="Картинка">
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog-card">
          <h3 class="catalog-card__title">Электротехническая продукция</h3>

          <ul class="catalog-card__links">
            <li class="catalog-card__links-item">
              <a class="catalog-card__link" href="#"><svg width="20" height="20" viewBox="0 0 40 40" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                    stroke-linejoin="bevel"></path>
                  <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
                </svg>
                <span class="catalog-card__link-text">Индуктивные датчики</span></a>
            </li>
            <li class="catalog-card__links-item">
              <a class="catalog-card__link" href="#"><svg width="20" height="20" viewBox="0 0 40 40" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                    stroke-linejoin="bevel"></path>
                  <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
                </svg>
                <span class="catalog-card__link-text">Емкостные датчики</span></a>
            </li>
            <li class="catalog-card__links-item">
              <a class="catalog-card__link" href="#"><svg width="20" height="20" viewBox="0 0 40 40" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                    stroke-linejoin="bevel"></path>
                  <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
                </svg>
                <span class="catalog-card__link-text">Оптические диффузионные датчики</span></a>
            </li>
          </ul>

          <a class="catalog-card__more" href="#">+25 категорий </a>

          <div class="catalog-card__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
              <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
            </svg>
          </div>

          <img class="catalog-card__img" src="img/catalog/3.png" alt="Картинка">
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog-card">
          <h3 class="catalog-card__title">Электродвигатели и насосы</h3>

          <ul class="catalog-card__links">
            <li class="catalog-card__links-item">
              <a class="catalog-card__link" href="#"><svg width="20" height="20" viewBox="0 0 40 40" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                    stroke-linejoin="bevel"></path>
                  <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
                </svg>
                <span class="catalog-card__link-text">Санитарные насосы</span></a>
            </li>
          </ul>

          <div class="catalog-card__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
              <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
            </svg>
          </div>

          <img class="catalog-card__img" src="img/catalog/4.png" alt="Картинка">
        </article>
      </li>
    </ul>
  </div>
</section>