<section class="catalog-page">
  <div class="catalog-page__head">
    <div class="container">
      <div class="catalog-page__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Каталог</span>
          </li>
        </ul>
      </div>

      <h1 class="catalog-page__title section-title">Каталог товаров</h1>

      <div class="catalog-page__category-part category-part">
        <h3 class="category-part__title title-block">Пневматика</h3>

        <ul class="category-part__list">
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Приводы с направляющими</h4>

                <img class="category-card__img" src="img/catalog/1.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Штоковые цилиндры</h4>

                <img class="category-card__img" src="img/catalog/2.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Санитарные клапаны</h4>

                <img class="category-card__img" src="img/catalog/2.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>

      <div class="catalog-page__category-part category-part">
        <h3 class="category-part__title title-block">Электрика</h3>

        <ul class="category-part__list">
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">2D сканеры кода Data Martix</h4>

                <img class="category-card__img" src="img/catalog/1.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">2D датчики</h4>

                <img class="category-card__img" src="img/catalog/2.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">3D камеры</h4>

                <img class="category-card__img" src="img/catalog/2.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Датчики изображения для точного позиционирования</h4>

                <img class="category-card__img" src="img/catalog/2.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Датчики контроля качества масла</h4>

                <img class="category-card__img" src="img/catalog/2.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Датчики потока воздуха и газов</h4>

                <img class="category-card__img" src="img/catalog/2.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Датчики потока жидкости</h4>

                <img class="category-card__img" src="img/catalog/2.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Показать все категории</h4>

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>

      <div class="catalog-page__category-part category-part">
        <h3 class="category-part__title title-block">Вентиляция</h3>

        <ul class="category-part__list">
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Вентиляторы</h4>

                <img class="category-card__img" src="img/catalog/4.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>

      <div class="catalog-page__category-part category-part">
        <h3 class="category-part__title title-block">Насосы и двигатели</h3>

        <ul class="category-part__list">
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Санитарные насосы</h4>

                <img class="category-card__img" src="img/catalog/4.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>

      <div class="catalog-page__category-part category-part">
        <h3 class="category-part__title title-block">Смазочные материалы</h3>

        <ul class="category-part__list">
          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Пасты</h4>

                <img class="category-card__img" src="img/catalog/5.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>

          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Пластичная смазка</h4>

                <img class="category-card__img" src="img/catalog/5.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>

          <li class="category-part__item">
            <article class="category-card">
              <a class="category-card__link" href="#">
                <h4 class="category-card__title">Силиконовая смазка</h4>

                <img class="category-card__img" src="img/catalog/5.png" alt="Картинка">

                <div class="category-card__arrow">
                  <svg class="category-card__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L6 18" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                    <path d="M5 5H19V19" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel"></path>
                  </svg>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="manufacturers">
    <div class="container">
      <div class="manufacturers__wrapper manufacturers__wrapper--no-decor">
        <h2 class="manufacturers__title title-block">Выберите интересующего вас производителя</h2>

        <ul class="manufacturers__list">
          <li class="manufacturers__item">
            <a class="manufacturers__link" href="#">
              <img class="manufacturers__img" src="img/manufacturers/1.png" alt="Картинка">
            </a>
          </li>
          <li class="manufacturers__item">
            <a class="manufacturers__link" href="#">
              <img class="manufacturers__img" src="img/manufacturers/2.png" alt="Картинка">
            </a>
          </li>
          <li class="manufacturers__item">
            <a class="manufacturers__link" href="#">
              <img class="manufacturers__img" src="img/manufacturers/3.png" alt="Картинка">
            </a>
          </li>
          <li class="manufacturers__item">
            <a class="manufacturers__link" href="#">
              <img class="manufacturers__img" src="img/manufacturers/4.png" alt="Картинка">
            </a>
          </li>
          <li class="manufacturers__item">
            <a class="manufacturers__link" href="#">
              <img class="manufacturers__img" src="img/manufacturers/5.png" alt="Картинка">
            </a>
          </li>
          <li class="manufacturers__item">
            <a class="manufacturers__link" href="#">
              <img class="manufacturers__img" src="img/manufacturers/6.png" alt="Картинка">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="catalog-page__slider-wrapper">
    <div class="container">

      <div class="catalog-page__slider slider">
        <div class="slider__head">
          <h3 class="slider__title">Хиты продаж</h3>

          <div class="slider__slider-controls slider-controls">
            <button class="slider__slider-controls-prev slider-controls__prev products-hits-prev" aria-label="Назад">
              <svg width="35" height="35" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                  stroke-linejoin="bevel"></path>
                <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
              </svg>
            </button>

            <button class="slider__slider-controls-next slider-controls__next products-hits-next" aria-label="Вперед">
              <svg width="35" height="35" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                  stroke-linejoin="bevel"></path>
                <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
              </svg>
            </button>
          </div>
        </div>

        <div class="slider__swiper swiper" id="products-hits-catalog">
          <ul class="slider__swiper-wrapper swiper-wrapper">
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <a class="product-card__title-link" href="#">
                  <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                </a>
                <a class="product-card__img-link" href="#">
                  <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                </a>
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <a class="product-card__title-link" href="#">
                  <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                </a>
                <a class="product-card__img-link" href="#">
                  <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                </a>
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <a class="product-card__title-link" href="#">
                  <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                </a>
                <a class="product-card__img-link" href="#">
                  <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                </a>
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <a class="product-card__title-link" href="#">
                  <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                </a>
                <a class="product-card__img-link" href="#">
                  <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                </a>
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <a class="product-card__title-link" href="#">
                  <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                </a>
                <a class="product-card__img-link" href="#">
                  <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                </a>
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <a class="product-card__title-link" href="#">
                  <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                </a>
                <a class="product-card__img-link" href="#">
                  <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                </a>
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
          </ul>

          <div class="products-hits-pagination slider-pagination"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="questions-accordion">
    <div class="container">
      <h2 class="questions-accordion__title title-block">Популярные вопросы</h2>

      <ul class="questions__accordion accordion">
        <li class="accordion__item">
          <button class="accordion__btn">
            <span class="accordion__name">Вопрос 1
            </span>

            <div class="accordion__decor">
              <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 10L10 0.999999L1 10" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
              </svg>
            </div>
          </button>
          <div class="accordion__content text">
            <p>Закупайте оборудование различных производителей в одном месте и минимизируйте трудозатраты и время
              поставки</p>
          </div>
        </li>

        <li class="accordion__item">
          <button class="accordion__btn">
            <span class="accordion__name">Вопрос 2
            </span>

            <div class="accordion__decor">
              <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 10L10 0.999999L1 10" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
              </svg>
            </div>
          </button>
          <div class="accordion__content text">
            <p>Закупайте оборудование различных производителей в одном месте и минимизируйте трудозатраты и время
              поставки</p>
          </div>
        </li>
        <li class="accordion__item">
          <button class="accordion__btn">
            <span class="accordion__name">Вопрос 3
            </span>

            <div class="accordion__decor">
              <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 10L10 0.999999L1 10" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
              </svg>
            </div>
          </button>
          <div class="accordion__content text">
            <p>Закупайте оборудование различных производителей в одном месте и минимизируйте трудозатраты и время
              поставки</p>
          </div>
        </li>
        <li class="accordion__item">
          <button class="accordion__btn">
            <span class="accordion__name">Вопрос 4
            </span>

            <div class="accordion__decor">
              <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 10L10 0.999999L1 10" stroke="#FF4D06" stroke-width="2" stroke-linejoin="bevel" />
              </svg>
            </div>
          </button>
          <div class="accordion__content text">
            <p>Закупайте оборудование различных производителей в одном месте и минимизируйте трудозатраты и время
              поставки</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="application-form">
    <div class="container">
      <div class="application-form__wrapper">
        <div class="application-form__left">
          <div class="application-form__left-head">
            <h2 class="application-form__title title-block">Не&nbsp;можете найти то, что вам нужно?</h2>
            <p class="application-form__text">Оставьте заявку и&nbsp;опишите, какое оборудование вам необходимо.
              Мы&nbsp;свяжемся с&nbsp;вами и&nbsp;поможем подобрать.</p>
          </div>

          <div class="application-form__bot">
            <img class="application-form__bit-icon" src="img/application-form/mail.png" alt="Картинка">

            <div class="application-form__bot-inner">
              <span class="application-form__bot-title">Остались вопросы</span>
              <div class="application-form__link-wrap">
                <span class="application-form__link-text">Напишите:</span>
                <a class="application-form__link" href="mailto:info@te-technology.ru">info@te-technology.ru</a>
              </div>
            </div>
          </div>
        </div>

        <form class="application-form__form form " id="application-form-section" name="application-form"
          novalidate="novalidate">
          <div class="form__input-wrapper form__input-wrapper--margin">
            <input class="form__input input-name" type="text" id="name" placeholder="" data-validate-field="name">
            <label class="form__placeholder" for="name">Как к&nbsp;вам обращаться</label>
          </div>

          <div class="form__block-inputs">
            <div class="form__input-wrapper form__input-wrapper--margin">
              <input class="form__input input-tel" type="tel" id="phone" placeholder="" data-validate-field="phone"
                inputmode="text">
              <label class="form__placeholder" for="phone">Телефон</label>
            </div>

            <div class="form__input-wrapper form__input-wrapper--margin">
              <input class="form__input input-mail" type="text" id="email" placeholder="" data-validate-field="mail">
              <label class="form__placeholder" for="email">Email</label>
            </div>
          </div>

          <div class="form__input-wrapper form__input-wrapper--margin">
            <input class="form__input input-company" type="text" id="company-name" placeholder=""
              data-validate-field="company-name">
            <label class="form__placeholder" for="company-name">Название вашей компании</label>
          </div>

          <div class="form__approval">
            <label class="form__label form__label--checkbox custom-checkbox custom-checkbox--border-grey">
              <input class="custom-checkbox__input input-checkbox visually-hidden" type="checkbox"
                data-validate-field="checkbox">

              <span class="custom-checkbox__span"></span>
            </label>
            <p class="form__text">Вы&nbsp;соглашаетесь с&nbsp;политикой обработки <a class="form__text-link"
                href="#">персональных данных</a></p>
          </div>

          <button class="form__btn button-primary">
            Оставить заявку
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="advantages-block advantages-block--padding-80">
    <div class="container">
      <ul class="advantages-block__list">
        <li class="advantages-block__item">
          <img class="advantages-block__img" src="img/advantages-block/1.png" alt="Картинка">
          <div class="advantages-block__inner">
            <h4 class="advantages-block__title">Большой выбор</h4>
            <p class="advantages-block__text">Самый большой ассортимент</p>
          </div>
        </li>
        <li class="advantages-block__item">
          <img class="advantages-block__img" src="img/advantages-block/2.png" alt="Картинка">
          <div class="advantages-block__inner">
            <h4 class="advantages-block__title">Быстрая доставка</h4>
            <p class="advantages-block__text">Доставка по&nbsp;всей России</p>
          </div>
        </li>
        <li class="advantages-block__item">
          <img class="advantages-block__img" src="img/advantages-block/3.png" alt="Картинка">
          <div class="advantages-block__inner">
            <h4 class="advantages-block__title">Гарантия качества</h4>
            <p class="advantages-block__text">Товары известных брендов</p>
          </div>
        </li>
        <li class="advantages-block__item">
          <img class="advantages-block__img" src="img/advantages-block/4.png" alt="Картинка">
          <div class="advantages-block__inner">
            <h4 class="advantages-block__title">Техподдержка</h4>
            <p class="advantages-block__text">Ответим на&nbsp;все ваши вопросы</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="clients clients--border-b">
    <div class="container">
      <div class="clients__head">
        <h2 class="clients__title title-block">Наши клиенты</h2>

        <div class="clients__slider-controls slider-controls">
          <button class="clients__slider-controls-prev slider-controls__prev swiper-button-disabled" aria-label="Назад"
            disabled="">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                stroke-linejoin="bevel"></path>
              <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
            </svg>
          </button>

          <button class="clients__slider-controls-next slider-controls__next" aria-label="Вперед">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                stroke-linejoin="bevel"></path>
              <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
            </svg>
          </button>
        </div>
      </div>

      <div class="clients__slider swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
        <ul class="clients__list swiper-wrapper">
          <li class="clients__item swiper-slide swiper-slide-active" style="width: 332px; margin-right: 24px;">
            <img src="img/clients/absolut.png" alt="Лого">
          </li>
          <li class="clients__item swiper-slide swiper-slide-next" style="width: 332px; margin-right: 24px;">
            <img src="img/clients/electroshit.png" alt="Лого">
          </li>
          <li class="clients__item swiper-slide" style="width: 332px; margin-right: 24px;">
            <img src="img/clients/lukoil.png" alt="Лого">
          </li>
          <li class="clients__item swiper-slide" style="width: 332px; margin-right: 24px;">
            <img src="img/clients/tarkett.png" alt="Лого">
          </li>
          <li class="clients__item swiper-slide" style="width: 332px; margin-right: 24px;">
            <img src="img/clients/tarkett.png" alt="Лого">
          </li>
          <li class="clients__item swiper-slide" style="width: 332px; margin-right: 24px;">
            <img src="img/clients/tarkett.png" alt="Лого">
          </li>
        </ul>

        <div class="clients__pagination slider-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
          <span class="swiper-pagination-progressbar-fill"
            style="transform: translate3d(0px, 0px, 0px) scaleX(0.333333) scaleY(1); transition-duration: 300ms;"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="seo-block">
    <div class="container">
      <h2 class="seo-block__title title-block">Заголовок SEO-текста</h2>

      <div class="text-block">
        <p class="text-block__text">Тело SEO-текста. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
          aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        <p class="text-block__text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
          adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
          voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
          aliquid ex ea commodi consequatur?</p>
        <p class="text-block__text">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
          molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      </div>
    </div>
  </div>
</section>