<section class="clients">
  <div class="container">
    <div class="clients__head">
      <h2 class="clients__title title-block">Наши клиенты</h2>

      <div class="clients__slider-controls slider-controls">
        <button class="clients__slider-controls-prev slider-controls__prev" aria-label="Назад">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
              stroke-linejoin="bevel" />
            <rect x="6" y="19" width="21" height="2" fill="#FF4D06" />
          </svg>
        </button>

        <button class="clients__slider-controls-next slider-controls__next" aria-label="Вперед">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
              stroke-linejoin="bevel" />
            <rect x="6" y="19" width="21" height="2" fill="#FF4D06" />
          </svg>
        </button>
      </div>
    </div>

    <div class="clients__slider swiper">
      <ul class="clients__list swiper-wrapper">
        <li class="clients__item swiper-slide">
          <img src="img/clients/absolut.png" alt="Лого">
        </li>
        <li class="clients__item swiper-slide">
          <img src="img/clients/electroshit.png" alt="Лого">
        </li>
        <li class="clients__item swiper-slide">
          <img src="img/clients/lukoil.png" alt="Лого">
        </li>
        <li class="clients__item swiper-slide">
          <img src="img/clients/tarkett.png" alt="Лого">
        </li>
        <li class="clients__item swiper-slide">
          <img src="img/clients/tarkett.png" alt="Лого">
        </li>
        <li class="clients__item swiper-slide">
          <img src="img/clients/tarkett.png" alt="Лого">
        </li>
      </ul>

      <div class="clients__pagination slider-pagination"></div>
    </div>
  </div>
</section>