<section class="contacts">
  <div class="contacts__head">
    <div class="container">
      <div class="contacts__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Контакты</span>
          </li>
        </ul>
      </div>

      <h1 class="contacts__title section-title">Контакты</h1>

      <div class="contacts__info">
        <span class="contacts__info-name">ООО «Тайм Электро»</span>

        <ul class="contacts__info-list">
          <li class="contacts__info-item">
            <svg class="contacts__info-icon" width="48" height="48" viewBox="0 0 48 48" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M35 8H13V41H35V8Z" stroke="#666666" stroke-width="3" />
              <path d="M19 13H29" stroke="#666666" stroke-width="3" stroke-linejoin="bevel" />
            </svg>

            <a class="contacts__info-link" href="tel:+78462550085">+7 (846) 255-00-85</a>
          </li>

          <li class="contacts__info-item">
            <svg class="contacts__info-icon" width="48" height="48" viewBox="0 0 48 48" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M42 35.5714V13.4286C42 12.254 42 9 42 9C42 9 39.0609 9 38 9H10.0001C8.9392 9 6 9 6 9C6 9 6.00007 12.254 6.00007 13.4286V35.5714C6.00007 36.746 6.00031 40 6.00031 40C6.00031 40 8.9392 40 10.0001 40H38C39.0609 40 42 40 42 40C42 40 42 36.746 42 35.5714Z"
                stroke="#666666" stroke-width="3" stroke-linecap="square" />
              <path d="M12 17C12.8513 17.5781 24 24 24 24C24 24 35.1487 17.5781 36 17" stroke="#666666" stroke-width="3"
                stroke-linecap="square" />
            </svg>


            <a class="contacts__info-link" href="mailto:info@te-technology.ru">info@te-technology.ru</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="contacts__content">
      <div class="contacts__about-company">
        <h3 class="contacts__subtitle">Адрес офиса</h3>

        <div class="contacts__about-inner">
          <address class="contacts__adress">Самара, Партизанская, 246, оф. 406</address>
          <span class="contacts__worktime">Пн-Пт: 9:00 – 18:00</span>
        </div>
      </div>

      <iframe class="contacts__map"
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac90214d44b4667103c702b8cdfdba2a24581539c4454f889a3402d3ff80f757c&amp;source=constructor"
        width="688" height="332" frameborder="0"></iframe>
    </div>
  </div>
</section>