<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <h4 class="footer__title-block">Мы на связи</h4>

        <div class="footer__links">
          <a class="footer__phone" href="tel:+78462550085">+ 7 (846) 255-00-85</a>
          <a class="footer__mail" href="mailto:info@te-technology.ru">info@te-technology.ru</a>
        </div>

        <button class="footer__callme button-transparent">Заказать звонок</button>
      </div>

      <ul class="footer__right">
        <li class="footer__right-item">
          <h4 class="footer__title-block">Для заказа</h4>

          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Информация об оплате</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Доставка</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Для юридических лиц</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Возврат товаров</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Защита личных данных</a>
            </li>
          </ul>
        </li>

        <li class="footer__right-item">
          <h4 class="footer__title-block">Документация</h4>

          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Каталог продукции</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Техническая документация</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Брошюры и буклеты</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Опросные листы</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Декларации</a>
            </li>
          </ul>
        </li>

        <li class="footer__right-item">
          <h4 class="footer__title-block">Компания</h4>

          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">О компании</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Контакты</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Реквизиты</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Новости</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Статьи</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="footer__bottom">
      <div class="footer__bottom-wrapper">
        <span class="footer__copy">© TE-technology, 2024. Все права защищены</span>
        <a class="footer__policy" href="#">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>