<header class="header">
  <div class="container">
    <div class="header__top">
      <ul class="header__top-menu">
        <li class="header__top-menu-item">
          <a class="header__top-menu-link" href="#">Каталог</a>
        </li>

        <li class="header__top-menu-item">
          <a class="header__top-menu-link" href="#">Доставка и оплата</a>
        </li>

        <li class="header__top-menu-item">
          <a class="header__top-menu-link" href="#">О компании</a>
        </li>

        <li class="header__top-menu-item">
          <a class="header__top-menu-link" href="#">Контакты</a>
        </li>
      </ul>

      <a class="header__link" href="mailto:info@te-technology.ru">
        <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M42 35.5714V13.4286C42 12.254 42 9 42 9C42 9 39.0609 9 38 9H10.0001C8.9392 9 6 9 6 9C6 9 6.00007 12.254 6.00007 13.4286V35.5714C6.00007 36.746 6.00031 40 6.00031 40C6.00031 40 8.9392 40 10.0001 40H38C39.0609 40 42 40 42 40C42 40 42 36.746 42 35.5714Z"
            stroke="#666666" stroke-width="3" stroke-linecap="square" />
          <path d="M12 17C12.8513 17.5781 24 24 24 24C24 24 35.1487 17.5781 36 17" stroke="#666666" stroke-width="3"
            stroke-linecap="square" />
        </svg>

        info@te-technology.ru
      </a>
    </div>

    <div class="header__middle">
      <a class="header__logo logo" href="#">
        <img src="img/logo.svg" alt="Логотип TE-Technology">
      </a>

      <form class="header__form-search form-search" action="#">
        <input class="form-search__input" type="text" placeholder="Поиск продуктов">

        <div class="form-search__chapter-wrapper">
          <button class="form-search__chapter-btn">
            Раздел
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L7 7L1 0.999999" stroke="#666666" stroke-width="1.5" stroke-linejoin="bevel" />
            </svg>
          </button>

          <ul class="form-search__chapter-list menu-dropdown">
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Смазочные материалы</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Вентиляция и кондиционирование</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Насосы и двигатели</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Пневматика</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Электрика</a>
            </li>
          </ul>
        </div>

        <button class="form-search__search-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="6.75" stroke="white" stroke-width="1.5" />
            <path d="M16.5 16.5L20.25 20.25" stroke="white" stroke-width="1.5" stroke-linejoin="bevel" />
          </svg>
        </button>
      </form>

      <div class="header__call">
        <a class="header__call-phone" href="tel:+78462550085">+ 7 (846) 255-00-85</a>
        <span class="header__call-text">Заказать звонок</span>
      </div>

      <button class="header__application-btn button-primary">Оставить заявку</button>
    </div>

    <div class="header__bottom">
      <a class="header__bottom-logo logo" href="#">
        <img src="img/logo.svg" alt="Логотип TE-Technology">
      </a>

      <ul class="header__menu menu">
        <li class="menu__item">
          <a class="menu__link" href="#">
            Пневматика
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L7 7L1 0.999999" stroke="#666666" stroke-width="1.5" stroke-linejoin="bevel" />
            </svg>
          </a>

          <ul class="menu__dropdown menu-dropdown">
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Оптические диффузные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Индуктивные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Оптоволоконные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Промышленные датчики давления</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Расходомеры сжатого воздуха</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Частотные преобразователи</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Автоматика для котлов и горелок</a>
            </li>
          </ul>
        </li>

        <li class="menu__item">
          <a class="menu__link" href="#">
            Электрика
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L7 7L1 0.999999" stroke="#666666" stroke-width="1.5" stroke-linejoin="bevel" />
            </svg>
          </a>

          <ul class="menu__dropdown menu-dropdown">
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Оптические диффузные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Индуктивные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Оптоволоконные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Промышленные датчики давления</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Расходомеры сжатого воздуха</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Частотные преобразователи</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Автоматика для котлов и горелок</a>
            </li>
          </ul>
        </li>

        <li class="menu__item">
          <a class="menu__link" href="#">
            Вентиляция
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L7 7L1 0.999999" stroke="#666666" stroke-width="1.5" stroke-linejoin="bevel" />
            </svg>
          </a>

          <ul class="menu__dropdown menu-dropdown">
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Оптические диффузные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Индуктивные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Оптоволоконные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Промышленные датчики давления</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Расходомеры сжатого воздуха</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Частотные преобразователи</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Автоматика для котлов и горелок</a>
            </li>
          </ul>
        </li>

        <li class="menu__item">
          <a class="menu__link" href="#">
            Насосы и двигатели
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L7 7L1 0.999999" stroke="#666666" stroke-width="1.5" stroke-linejoin="bevel" />
            </svg>
          </a>

          <ul class="menu__dropdown menu-dropdown">
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Оптические диффузные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Индуктивные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Оптоволоконные датчики</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Промышленные датчики давления</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Расходомеры сжатого воздуха</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Частотные преобразователи</a>
            </li>
            <li class="menu-dropdown__item">
              <a class="menu-dropdown__link" href="#">Автоматика для котлов и горелок</a>
            </li>
          </ul>
        </li>

        <li class="menu__item">
          <a class="menu__link" href="#">
            Инжиниринговые работы
          </a>
        </li>
      </ul>

      <div class="header__cart cart">
        <button class="cart__btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 7.8H21L18.6 19.8H5.4L3 7.8Z" stroke="#FF4D06" stroke-width="2" />
            <path d="M9.6002 3L7.2002 10.8" stroke="#FF4D06" stroke-width="2" />
            <path d="M14.3998 3L16.7998 10.8" stroke="#FF4D06" stroke-width="2" />
          </svg>

          <div class="cart-qty">
            <span class="cart-qty__num">3</span>
          </div>
        </button>

        <div class="cart__info">
          <span class="cart__products-qty">Нет товаров</span>
          <span class="cart__products-price"><span>0</span> руб.</span>
        </div>
      </div>
    </div>

    <div class="header__mobile">
      <div class="header__mobile-wrapper">
        <a class="header__logo logo" href="#">
          <img src="img/logo.svg" alt="Логотип TE-Technology">
        </a>

        <button class="hamburger-lines hamburger-lines--mobile-menu">
          <span class="hamburger-lines__line line1"></span>
          <span class="hamburger-lines__line line2"></span>
        </button>
      </div>
    </div>
  </div>
</header>