<section class="hero">
  <div class="container">
    <div class="hero__content-wrapper">
      <div class="hero__slider swiper">
        <ul class="hero__slider-wrapper swiper-wrapper">
          <li class="hero__slide swiper-slide">
            <div class="hero__content">
              <h1 class="hero__title">Поставки импортного промышленного оборудования и компонентов</h1>
              <p class="hero__text">
                Закупайте оборудование различных производителей в одном месте и минимизируйте трудозатраты и время
                поставки
              </p>
              <button class="hero__button-primary button-primary">
                Посмотреть каталог
              </button>
            </div>
          </li>

          <li class="hero__slide swiper-slide">
            <div class="hero__content">
              <h1 class="hero__title">Поставки импортного промышленного оборудования и компонентов</h1>
              <p class="hero__text">
                Закупайте оборудование различных производителей в одном месте и минимизируйте трудозатраты и время
                поставки
              </p>
              <button class="hero__button-primary button-primary">
                Посмотреть каталог
              </button>
            </div>
          </li>

          <li class="hero__slide swiper-slide">
            <div class="hero__content">
              <h1 class="hero__title">Поставки импортного промышленного оборудования и компонентов</h1>
              <p class="hero__text">
                Закупайте оборудование различных производителей в одном месте и минимизируйте трудозатраты и время
                поставки
              </p>
              <button class="hero__button-primary button-primary">
                Посмотреть каталог
              </button>
            </div>
          </li>

          <li class="hero__slide swiper-slide">
            <div class="hero__content">
              <h1 class="hero__title">Поставки импортного промышленного оборудования и компонентов</h1>
              <p class="hero__text">
                Закупайте оборудование различных производителей в одном месте и минимизируйте трудозатраты и время
                поставки
              </p>
              <button class="hero__button-primary button-primary">
                Посмотреть каталог
              </button>
            </div>
          </li>
        </ul>

        <div class="hero__slider-controls slider-controls">
          <button class="hero__slider-controls-prev slider-controls__prev swiper-button-disabled" aria-label="Назад"
            disabled="">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                stroke-linejoin="bevel"></path>
              <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
            </svg>
          </button>

          <div class="hero__pagination slider-pagination"></div>


          <button class="hero__slider-controls-next slider-controls__next" aria-label="Вперед">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                stroke-linejoin="bevel"></path>
              <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>