<section class="manufacturers">
  <div class="container">
    <div class="manufacturers__wrapper">
      <h2 class="manufacturers__title title-block">Выберите интересующего вас производителя</h2>

      <ul class="manufacturers__list">
        <li class="manufacturers__item">
          <a class="manufacturers__link" href="#">
            <img class="manufacturers__img" src="img/manufacturers/1.png" alt="Картинка">
          </a>
        </li>
        <li class="manufacturers__item">
          <a class="manufacturers__link" href="#">
            <img class="manufacturers__img" src="img/manufacturers/2.png" alt="Картинка">
          </a>
        </li>
        <li class="manufacturers__item">
          <a class="manufacturers__link" href="#">
            <img class="manufacturers__img" src="img/manufacturers/3.png" alt="Картинка">
          </a>
        </li>
        <li class="manufacturers__item">
          <a class="manufacturers__link" href="#">
            <img class="manufacturers__img" src="img/manufacturers/4.png" alt="Картинка">
          </a>
        </li>
        <li class="manufacturers__item">
          <a class="manufacturers__link" href="#">
            <img class="manufacturers__img" src="img/manufacturers/5.png" alt="Картинка">
          </a>
        </li>
        <li class="manufacturers__item">
          <a class="manufacturers__link" href="#">
            <img class="manufacturers__img" src="img/manufacturers/6.png" alt="Картинка">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>