<section class="products-section">
  <div class="container">
    <div class="products-section__wrapper">
      <div class="products-section__slider slider">
        <div class="slider__head">
          <h3 class="slider__title">Товары месяца</h3>

          <div class="slider__slider-controls slider-controls">
            <button class="slider__slider-controls-prev slider-controls__prev products-month-prev" aria-label="Назад">
              <svg width="35" height="35" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                  stroke-linejoin="bevel"></path>
                <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
              </svg>
            </button>

            <button class="slider__slider-controls-next slider-controls__next products-month-next" aria-label="Вперед">
              <svg width="35" height="35" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                  stroke-linejoin="bevel"></path>
                <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
              </svg>
            </button>
          </div>
        </div>

        <div class="slider__swiper swiper" id="products-month">
          <ul class="slider__swiper-wrapper swiper-wrapper">
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
          </ul>

          <div class="products-month-pagination slider-pagination"></div>
        </div>
      </div>

      <div class="products-section__slider slider">
        <div class="slider__head">
          <h3 class="slider__title">Хиты продаж</h3>

          <div class="slider__slider-controls slider-controls">
            <button class="slider__slider-controls-prev slider-controls__prev products-hits-prev" aria-label="Назад">
              <svg width="35" height="35" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                  stroke-linejoin="bevel"></path>
                <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
              </svg>
            </button>

            <button class="slider__slider-controls-next slider-controls__next products-hits-next" aria-label="Вперед">
              <svg width="35" height="35" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.7861 8.85718L33.929 20L22.7861 31.1429" stroke="#FF4D06" stroke-width="2"
                  stroke-linejoin="bevel"></path>
                <rect x="6" y="19" width="21" height="2" fill="#FF4D06"></rect>
              </svg>
            </button>
          </div>
        </div>

        <div class="slider__swiper swiper" id="products-hits">
          <ul class="slider__swiper-wrapper swiper-wrapper">
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
            <li class="slider__swiper-slide swiper-slide">
              <article class="product-card">
                <h3 class="product-card__title">Оптический датчик Autonics BJ1M-DDT-P</h3>
                <img class="product-card__img" src="img/product/1.jpg" alt="Картинка">
                <span class="product-card__price">Цена по запросу</span>
                <a class="product-card__more button-primary" href="#">Подробнее</a>
              </article>
            </li>
          </ul>

          <div class="products-hits-pagination slider-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>