*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  overflow-x: hidden;
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  color: var(--black);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  overflow: hidden;

  &--no-scroll {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

blockquote {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  border: none;
}
.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

// .title {
//   text-transform: uppercase;
//   font-size: 40px;
//   font-family: 'OswaldBold';
//   line-height: 1.2;
// }

// .title-block {
//   font-size: 40px;
//   text-transform: uppercase;

//   @media screen and (width <= 1024px) {
//     font-size: 38px;
//   }

//   @media screen and (width <= 990px) {
//     font-size: 32px;
//   }

//   @media screen and (width <= 768px) {
//     font-size: 28px;
//   }

//   @media screen and (width <= 576px) {
//     font-size: 24px;
//   }
// }

// .section-title {
//   font-size: 64px;
//   text-transform: uppercase;

//   @media screen and (width <= 1024px) {
//     font-size: 48px;
//   }

//   @media screen and (width <= 990px) {
//     font-size: 42px;
//   }

//   @media screen and (width <= 768px) {
//     font-size: 36px;
//   }

//   @media screen and (width <= 576px) {
//     font-size: 32px;
//   }
// }

// .text-block {
//   &__text {
//     font-size: 16px;
//     font-family: 'RobotoRegular';
//     color: var(--black-text-color);
//     opacity: 1;
//     visibility: visible;
//     height: 100%;
//     transition:
//       opacity 0.3s ease-in-out,
//       visibility 0.5s ease-in-out,
//       margin-bottom 0.6s ease-in-out;

//     &:not(:last-child) {
//       margin-bottom: 10px;
//     }

//     &--bold {
//       font-family: 'RobotoBold';
//     }

//     &--hidden {
//       opacity: 0;
//       visibility: hidden;
//       overflow: hidden;
//       height: 0;

//       &:not(:last-child) {
//         margin-bottom: 0;
//       }
//     }
//   }
// }

// .text-list {
//   &__item {
//     position: relative;
//     padding-left: 28px;
//     font-size: 16px;

//     &:not(:last-child) {
//       margin-bottom: 10px;
//     }

//     &::before {
//       content: '';
//       display: block;
//       position: absolute;
//       background-color: var(--accent-color);
//       width: 6px;
//       height: 6px;
//       position: absolute;
//       top: 7px;
//       left: 8px;
//     }
//   }
// }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.button-primary {
  background-color: var(--accent);
  border-radius: 38px;
  color: var(--white);
  padding: 15px 35px;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--accent-dark);
  }
}
