:root {
  --font-family: 'Open Sans', sans-serif;
  --content-width: 1370px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --accent: #ff4d06;
  --black: #232323;
  --white: #fff;
}
