:root {
  --font-family: 'GeologicaLight', sans-serif;
  --content-width: 1400px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --accent: #ff4d06;
  --accent-dark: #cc3a00;
  --black: #232323;
  --white: #fff;
  --light-gray: #e6e6e6;
  --medium-gray: #ccc;
  --dark-gray: #666;
  --bg-gray: rgba(244, 247, 250, 1);
}
