.manufacturers {
  padding-bottom: 80px;

  @media screen and (width <= 768px) {
    padding-bottom: 48px;
  }

  &__wrapper {
    padding-top: 80px;
    border-top: 1px solid var(--light-gray);

    &--no-decor {
      border-top: none;
    }

    @media screen and (width <= 768px) {
      padding-top: 48px;
    }
  }

  &__title {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (width <= 576px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    @media screen and (width <= 576px) {
      width: 164px;
    }
  }
  &__img {
  }
}
