.products-section {
  padding: 80px 0;

  @media screen and (max-width: 768px) {
    padding: 48px 0;
  }

  &__wrapper {
    display: flex;
    column-gap: 24px;

    @media screen and (max-width: 700px) {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__slider {
    width: calc(50% - 12px);

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
}
